html
{
	font-family: sans-serif;
}

.banner
{
	background-color: orange;
	color: white;
	padding: 5%;
	text-align: center;
	overflow: auto;
}

h1
{
	display: inline;
	font-size: 400%;
}

.menu
{
	float: right;
	padding-top: 40px;
}

.menu button
{
	height: 40px;
	width: 60px;
	color: #fff;
	font-weight: bold;
    background-color: orange;
	border: 1px solid white;
	border-radius: 4px;
}

.main
{
	padding: 2.5%;
	background-color: white;
	margin: 1%;
}

.border
{
	background-color: #FFEBCC;
	padding: .1%;
	margin: 1%;
}

a
{
	color: #0000EE;
	text-decoration: underline;
}

.job
{
	color: orange;
	text-decoration: none;
}

.log
{
	background-color: black;
	height: 100px;
	width: 500px;
}

.profile h2
{
	display: inline;
}

.edit
{
	float: right;
}

.phone
{
	width: 35px;
}